# Node.js dependencies
node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# build output
/dist
/build

# IDE or editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.log
*.bak
*.swp
